<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

<application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.ProjectHelper"
    tools:targetApi="31">
    <activity android:name=".activities.InitialSetupSecondActivity"/>
    <activity android:name=".activities.MainSettingsUserBlock"/>
    <activity android:name=".activities.MainPage"/>
    <activity android:name=".activities.AboutSettingsBlock"/>
    <activity android:name=".activities.ChangePersonalCode"/>
    <activity android:name=".activities.MainSettingsPage"/>
    <activity android:name=".activities.AppearanceSettingsBlock"/>
    <activity android:name=".activities.FeedbacksBlock"/>
    <activity android:name=".activities.ChangeEmailActivity"/>
    <activity android:name=".activities.InitialSetupThirdActivity"/>
    <activity android:name=".activities.RestorePasswordActivity"/>
    <activity
        android:name=".activities.InitialSetupFirstActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />
</application>

</manifest>

